version: '3.8'

services:
  db:
    image: postgres:13-alpine 
    volumes:
      - postgres_data:/var/lib/postgresql/data/ 
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - my-app-network

  backend:
    build:
      context: . 
      dockerfile: Dockerfile.django 
    command: sh -c "python manage.py collectstatic --noinput && python wait_for_db.py && python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app 
      - static_files:/app/staticfiles 
    ports:
      - "8000:8000" 
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db 
      POSTGRES_PORT: 5432
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_SETTINGS_MODULE: to_do_backend.settings
    depends_on:
      db:
        condition: service_healthy 
    networks:
      - my-app-network

  frontend:
    build:
      context: . 
      dockerfile: Dockerfile.react 
    volumes:
      - ./to-do-app:/app/to-do-app
    ports:
      - "3000:80" 
    depends_on:
      - backend 
    networks:
      - my-app-network

volumes:
  postgres_data: 
  static_files: 

networks:
  my-app-network:
    driver: bridge 